@{
    ViewData["Title"] = "Контакти";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    гр. Дулово 8000<br />
    ул. Калдаръмена 42<br />
    <abbr title="Phone">Т:</abbr>
    088 588 1559
</address>

<address>
    <strong>Магазин:</strong> <a href="mailto:magazin@daidakaram.com">magazin@daidakaram.com</a><br />
    <strong>Офис:</strong> <a href="mailto:office@daidakaram.com">office@daidakaram.com</a>
</address>
