@using Microsoft.AspNetCore.Identity
@using Ddk.Models
@using Ddk.Data.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown nav navbar-nav navbar-right">
        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            Здравей @UserManager.GetUserName(User)!
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a asp-controller="Orders" asp-action="Index" >Моите поръчки</a></li>
            <li><a asp-controller="Account" asp-action="EditDeliveryData" >Данни за доставка</a></li>
            <li><a asp-controller="Manage" asp-action="ChangePassword">Смяна на парола</a></li>
            <li>
                <a asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                    Изход
                </a>
            </li>
        </ul>
    </div>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
    </ul>
}
