@model IEnumerable<ChooseEngineVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Count()
</h2>

<ul>
    @foreach (var engine in Model)
    {
        var currUrl = ViewData["url"];
        currUrl += "&engineFuel=" + engine.Fuel;
        currUrl += "&engineCcm=" + engine.Ccm;
        currUrl += "&engineHp=" + engine.Hp;
        currUrl += "&engineKw=" + engine.Kw;
        currUrl += "&type=" + engine.Type;
        <li>
            <a href="@currUrl">
                @engine.ToString()
            </a>
        </li>
    }
</ul>
