
<form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <fieldset class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <label>
                    Съществуващи потребители
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="Email" placeholder="И-мейл" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="Password" placeholder="Парола" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default col-md-3">Влез</button>
                <a asp-controller="Account" asp-action="ForgotPassword" class="col-md-7 col-md-offset-1">Забравена парола?</a>
            </div>
        </div>
    </fieldset>
</form>
