@model IEnumerable<IEnumerable<string>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Count()
</h2>

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        @foreach (var row in Model)
        {
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <ul>
                    @foreach (var make in row)
                    {
                        var url = Url.Action("PickedProductCategoryChooseCar", "Products",
                           new
                           {
                               categoryId = ViewData["categoryId"],
                               make = make
                           });

                        <li>
                            <a href="@url">@make</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
