@model IEnumerable<IEnumerable<ChooseModelVariantBodyVM>>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Count()
</h2>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @foreach (var row in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
                @*<h4>
                        @group.Key
                    </h4>*@
                <ul>
                    @foreach (var col in row)
                    {
                        var url = Url.Action("PickedProductCategoryChooseCar", "Products",
                            new
                            {
                                categoryId = ViewData["categoryId"],
                                make = ViewData["make"],
                                model = col.Model,
                                variant = col.Variant,
                                body = col.Body
                            });

                        <li>
                            <a href="@url">@col.ToString()</a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>
