@model IEnumerable<IGrouping<string, ChooseEngineVM>>

@{
    string item = ViewData["categoryName"]?.ToString() ?? "Авточасти";
    ViewData["Title"] = $"{item} за {ViewData["make"]} {ViewData["model"]} {ViewData["variant"]} {ViewData["body"]}";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @ViewData["Title"]
</h1>

<p> <b>Изберете двигател</b></p>


@foreach (var group in Model)
{

    <ul>
        @foreach (var engine in group)
        {

            var url = Url.Action("PickedProductCategoryChooseCar", "Products",
                new
                {
                    categoryId = ViewData["categoryId"],
                    make = ViewData["make"],
                    model = ViewData["model"],
                    variant = ViewData["variant"],
                    body = ViewData["body"],
                    engineFuel = engine.Fuel,
                    engineCcm = engine.Ccm,
                    engineHp = engine.Hp,
                    engineKw = engine.Kw,
                    type = engine.Type
                });

            <li>
                <a href="@url">
                    @engine.ToString()
                </a>
            </li>
        }
    </ul>
}
