@model IEnumerable<ChooseEngineVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Model.Count()
</h2>

<ul>
    @foreach (var engine in Model)
    {
        var url = Url.Action("PickedProductCategoryChooseCar", "Products",
            new
            {
                categoryId = ViewData["categoryId"],
                make = ViewData["make"],
                model = ViewData["model"],
                variant = ViewData["variant"],
                body = ViewData["body"],
                engineFuel = engine.Fuel,
                engineCcm = engine.Ccm,
                engineHp = engine.Hp,
                engineKw = engine.Kw,
                type = engine.Type
            });

        <li>
            <a href="@url">
                @engine.ToString()
            </a>
        </li>
    }
</ul>
