
<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <fieldset class="col-md-3">
        <div class="form-group">
            <div class="col-md-12">
                <label>
                    Поръчка с регистрация
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="UserName" placeholder="Потербител" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="Email" placeholder="И-мейл" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="Password" placeholder="Парола" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input name="ConfirmPassword" placeholder="Потвърди парола" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default">Регистрация</button>
            </div>
        </div>
    </fieldset>
</form>
